
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
}
#colo{
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#ravi{
 height: 100vh;
}
nav ul {
  list-style-type: none;
}
nav {
  background-color: black;
  color: white;
  height: 52px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.gameContainer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.Container{
    display: grid;
    grid-template-columns: repeat(3 ,10vw);
    grid-template-rows: repeat(3 , 10vw) ;
    font-family: 'Permanent Marker', cursive;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: .1s linear;
}
.box:hover{
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Fugaz One', cursive;

}
.gameInfo span{
  font-size: 26px;
}
.gameInfo h1{
  padding-bottom: 18px;
}
.imgbox img{
    width: 0;
   transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
/* From uiverse.io by @alexroumi */
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-left: 20px;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 } 
@media screen and (max-width: 800px) {
  .gameContainer{
    flex-wrap: wrap;
  }

  .gameInfo{
    margin-top: 30px;
  }
  .gameInfo h1{
    font-size: 1.6rem;
  }
  .Container{
    display: grid;
    grid-template-rows: repeat(3 , 20vw);
    grid-template-columns: repeat(3 , 20vw);
  }
}
